**/.vscode/
**/.ccls-cache/
**/__pycache__/
**/build/
**/Debug/
**/compile_commands.json
**/.clangd/
**/.ccls-cache/
**/.cache/
mass_data_collector/guide/
# this is extra for the symlink
mass_data_collector/.cache
mass_data_collector/.clangd
**/tensorboard
**/snapshots
**/wandb
**/log
scripts/test-seg
scripts/plots
