**/.vscode/
**/__pycache__/
**/build/
**/Debug/
**/compile_commands.json
**/.clangd/
**/.ccls-cache/
**/.cache/
**/tensorboard
**/snapshots
**/wandb
**/log
scripts/plots
scripts/runs
scripts/samples
scripts/model/modules/lie_so3/lie_so3.egg-info
scripts/model/modules/lie_so3/dist
.gitignore
